h4 Drag'n'Drop
p Drop all files anywhere to load them
p The SourceMap must have the extension ".map". ".json" is acceptable too if it's the only json file.
.progress.progress-striped.active
	.bar.read-progress(style="width: 0%")