h4 Step 1
p Provide generated code file:
p
	| Generated code provided. (size=
	= generatedSource.length
	| )
h4 Step 2
p Provide SourceMap file:
p
	| SourceMap provided. (mappingsSize=
	= sourceMap.mappings.length
	| )
h4 Step 3
p Provide original source file "<b>#{source}</b>":
p
	input.input.file(type="file")
	button.btn.btn-primary.custom-continue Load
.progress.progress-striped.active
	.bar.read-progress(style="width: 0%")