div.alert.alert-info Note: You can drag 'n drop your generated/map files onto the app.

h4 Step 1
p Provide generated code file:
p
	input.input.file(type="file")
	button.btn.btn-primary.custom-continue Load
