h4 Step 1
p Provide generated code file:
p
	| Generated code provided. (size=
	= generatedSource.length
	| )
h4 Step 2
p Provide SourceMap file:
p
	input.input.file(type="file")
	button.btn.btn-primary.custom-continue Load
.progress.progress-striped.active
	.bar.read-progress(style="width: 0%")